body {
  padding: 0;
  /* font-family: Roboto, Arial; */
  font-family: -apple-system, Futura PT, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  color: black;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  margin: 0;
}
